.section-a{
    display: flex;
    
    width: 100%;
    margin-bottom: 100px;
    
}
.container-cart{
    width: 20%;
    margin-right: 1%;
    background-color: salmon;
    height: 400px;
    margin-top: 25px;
    position: sticky;
    top: 50px;
}
.container-products{
    width: 74%;
    margin-left: 3%;
    margin-right: 2%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
    
}
@media only screen and (max-width: 570px) {
    .section-a{
        display: block;
        font-size: auto;

    }
    .container-products{
        width: 90%;
        margin-left: 5%;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 20px;
    }
    .container-cart{
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        
    }
}
